<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Personal Blogs</title>
</head>

<header>
    <nav>
        <a>My Blogs</a>
        <form>
            
        </form>
    </nav>
</header>