<%- include("partials/header.ejs") %>


<body>
    <ul>
        <% for (let i = 0; i < texts.length; i++) { %>
            <li>
                <form action = "/delete/" method ="post">
                    <%= texts[i]; %>
                    <button type="submit" name="selected"> Delete </button>
                </form>
            </li>
        <% } %>
    </ul>

    <form action = "/submit" method = "post">
        <label>Insert new blog: </label>
        <input type="text" id="text" name="text" required>
        <button type="submit">Submit</button>

    </form>
</body>